/* Nothing yet. Check back soon. */

.cat_sub_toggler{
    background: #d7d7d7;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
}

.cat_sub_toggler span{
    font-size: smaller;
    color: #999;
    float: right;
}

.toggler_target{
    display: none;
}
